body {
  font-family: 'Open Sans', sans-serif;
}

.small-logo {
  width: 100px;
}

.qt-docs-nav {
  margin-bottom: 0;
  background-color: #fff;
  border-bottom: 0;
}

.qt-docs-header {
  margin-bottom: 40px;
  position: relative;
  padding: 30px 15px;
  color: #65D2EC;
  font-size: 24px;
  text-align: left;
  text-shadow: 0 1px 0 rgba(0,0,0,.1);
  background-color: #0667A2;
  background-image: -webkit-gradient(linear,left top,left bottom,from(#0667A2),to(#1F7EBF));
  background-image: -webkit-linear-gradient(top,#0667A2 0,#1F7EBF 100%);
  background-image: -o-linear-gradient(top,#0667A2 0,#1F7EBF 100%);
  background-image: linear-gradient(to bottom,#0667A2 0,#1F7EBF 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0667A2', endColorstr='#1F7EBF', GradientType=0);
  background-repeat: repeat-x;
}

.qt-docs-header img {
  float: right;

}

.qt-docs-header h1 {
  font-size: 60px;
  line-height: 1;
  margin-top: 0;
  color: #fff;
}

.qt-docs-header p {
  margin-bottom: 0;
  font-weight: 300;
  line-height: 1.4;
}

.qt-docs-header h1, .qt-docs-header p {
  margin-right: 380px;
}

h1 {
  margin: .67em 0;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-family: 'Dosis', sans-serif;
  font-weight: 500;
}

p {
  margin: 0 0 10px;
}
